{% extends "base.html" %}
{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Pressure Sensor Demo<small></small></h1>
  <blockquote class="bg-info">
  <p id="data">
    Time:[[data.time]]<br>
    Temp: [[data.temp]]<br>
    Pl:[[data.pl]]<br>
    Pa:[[data.pres]]<br>
    DP:[[data.dpres]]<br>
    Altitude:[[data.alti]]<br>
    Average:[[data.avePres]]</p>
  </blockquote>
  <div id="panel" class="row">
    <div class="form-group col-sm-3">
          <label>Averaging times:</label>
          <select class="form-control" ng-model="avewindow" ng-change="changeAve()">
            <option>1</option>
            <option>10</option>
            <option>40</option>
            <option>100</option>
          </select>

          <label>Y-axis Range: <span class="badge">[[range]] Pa</span></label>
          <input type="range" name="points" min="10" max="1000" step="20" ng-model="range">
          <label>Center Value:</label>
          <input type="number" class="form-control" ng-model="middle">
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chart</h3>
  </div>
  <div  class="panel-body">
    <div id="chart"></div>
</div>
</div>
<div id="log"></div>
{% endblock %}
