{% extends "base.html" %}
{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block content %}

<div class="page-header">
<div class="panel-info panel">
    <div class="panel-heading">
      <h3 class="panel-title">Pressure Sensor Demo</h3>
    </div>
    <div class="panel-body">
    <div class="form-group col-sm-4">
                    <label>Averaging times:</label>
          <select class="form-control" ng-model="avewindow" ng-change="changeAve()">
            <option>1</option>
            <option>10</option>
            <option>40</option>
            <option>100</option>
          </select>

          <label>Y-axis Range: <span class="badge">[[range]] Pa</span></label>
          <input type="range" name="points" min="10" max="1000" step="20" ng-model="range">
          <label>Center Value:</label>
          <input type="number" class="form-control" ng-model="middle">
          <hr>
          <label>Status: <h1><span class="label label-info">[[status]]</span></h1></label>
    </div>
    <div class="col-sm-4 list-group">
        <a href="#" class="list-group-item">Time: [[data.time]]</a>
        <a href="#" class="list-group-item">Temperature(°C): <span class="badge">[[data.temp]]</span></a>
        <a href="#" class="list-group-item">Digital Value(DT): <span class="badge">[[data.dptat]]</span></a>
        <a href="#" class="list-group-item">Air Pressure(Pa): <span class="badge">[[data.pres]]</span></a>
        <a href="#" class="list-group-item">Digital Value(DP): <span class="badge">[[data.dpres]]</span></a>
        <a href="#" class="list-group-item">Average(Pa): <span class="badge">[[data.avePres]]</span></a>
    </div>
      <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="elem in otp">[[elem.name]]: <span class="badge">[[elem.otpHex]]</span></li>
      </ul>
    </div>
    </div>
  </div>

</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chart</h3>
  </div>
  <div  class="panel-body">
    <div id="chart"></div>
</div>
</div>
<div id="log"></div>
{% endblock %}
